*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.emoji{
    width: 300px;
    height: 250px;
    cursor: pointer;
    user-select: none;

}
.open{
    display: none;
}

.closed{
    display: none;
}

.active{
    display: block;
}

